<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<!--body start-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">hygull.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Blogs</a></li>
      <li><a href="#">Posts</a></li>
      <li><a href="/aboutus/">About</a></li>
      {{ login_url_link_as_list|safe }}
      {{ logout_url_link_as_list|safe }}
      <!-- <li><a id="logout" href="{{ logout_url }}">{{ logout }}</a></li> -->
      <!-- <li><a id="login" href="{{ login_url }}">{{ login }}</a></li> -->
      <!-- {{ a_link|safe }} -->
    </ul>
    <!-- <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form> -->
  </div>
</nav>
<div class="container">
<div class="row"><!--row1 start-->
<!-- https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAeLAAAAJDQwYTQ2NmNlLWYzYTEtNDQxNi1hY2EyLTA3MWFlZDkyNDdjNw.jpg -->
  <div class="col-md-2 text-center"><!--column1 start-->
<img src="http://efdreams.com/data_images/dreams/go/go-04.jpg" class="img-circle" alt="Rishikesh" width="100%" height="100%"><br><br>


    <a onclick="window.open('https://www.facebook.com/rishikesh.agrawani', '_blank', 'location=yes,height=500,width=800,scrollbars=yes,status=yes');"><img src="https://cdn4.iconfinder.com/data/icons/green-social-media-icons/744/social_social_media_social_network_facebook_logotype_network-32.png" class="img-circle" alt="Facebook" >
    </a>
    <a onclick="window.open('https://www.linkedin.com/in/rishikesh-agrawani-0358ba119?trk=nav_responsive_tab_profile', '_blank', 'location=yes,height=500,width=800,scrollbars=yes,status=yes');">
    <img src="https://cdn4.iconfinder.com/data/icons/green-social-media-icons/744/social_media_social_network_logo_logotype_linkedin_logos-32.png" class="img-circle" alt="Linkedin" >
    </a>

    <a onclick="window.open('https://twitter.com/RishiAndCodeEx', '_blank', 'location=yes,height=500,width=800,scrollbars=yes,status=yes');">
      <img src="
    https://cdn0.iconfinder.com/data/icons/green-social-media-icons/744/social_media_social_network_logo_twitter_logotype_logo-32.png" class="img-circle" alt="Twitter" >
    </a>

    <a onclick="window.open('https://plus.google.com/u/0/113992208941719062433', '_blank', 'location=yes,height=500,width=800,scrollbars=yes,status=yes');">
      <img src="https://cdn4.iconfinder.com/data/icons/green-social-media-icons/744/social_media_social_network_logo_logotype_logos_google_plus-32.png" class="img-circle" alt="Google+" >
    </a>
    <br>
    <hr>
    <h3 style="color:green;">Wow!!!</h3>
    <h4><a href='https://golang.org/' target="_blank">Go</a></h4>
<img src="https://s-media-cache-ak0.pinimg.com/originals/bc/75/22/bc75225ef044d29d1f2d1c051d9b8063.gif" class="img-circle" alt="Rishikesh" width="100%" height="100%">

<br>
<hr>
<a href='https://golang.org/doc/faq' target="_blank">Frequently asked questions</a>
<br><hr>
<a href='https://golang.org/dl/' target="_blank">Dowload Go comipler</a>

  </div><!--column1 end-->

  <div class="col-md-7 text-center"><!--column2 start-->
    <div class="row"><!--Panel row 1 starts-->
      <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">What is Golang?</div>
            <div class="panel-body">Image result for what is golang
Go, also known as golang, is a computer programming language whose development began in 2007 at Google, and it was introduced to the public in 2009. Go's three lead developers at Google were Robert Griesemer, Rob Pike, and Ken Thompson.</div>
            <div class="panel-footer">
                more info at <a target='_blank' href="http://www.computerhope.com/jargon/g/golang.htm">computerhope.com</a>
            </div>
          </div>
      </div>
       <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">Comparision of Golang & Jave</div>
            <div class="panel-body">As opposed to Java, Go is compiled to machine code and is executed directly. Much like C. Because this does not have a VM machine it is very much different from Java.It is somewhere between C and C++.No Finally, Defer Instead.</div>
            <div class="panel-footer">more info at <a target='_blank' href="https://dzone.com/articles/comparing-golang-with-java">dozon.com</a></div>
          </div>
      </div>
    </div><!--Panel row 1 ends-->

        <div class="row"><!--Panel row 2 starts-->
      <div class="col-md-6">
          <div class="panel panel-warning">
            <div class="panel-heading">Features excluded intentionally</div>
            <div class="panel-body">To keep language simple and concise, following features commonly available in similar languages are ommitted.

                  <p>No support for type inheritance</p>

                  <p>No support for method or operator overloading</p>
            </div>
            <div class="panel-footer">
                more info at <a target='_blank' href="https://www.tutorialspoint.com/go/go_overview.htm">tutorialspoint.com</a>
            </div>
          </div>
      </div>
       <div class="col-md-6">
          <div class="panel panel-danger">
            <div class="panel-heading">Environment SetUp</div>
            <div class="panel-body">You need the following two softwares available on your computer, <br>(a) Text Editor and <br>(b) The Go Compiler.<br>Examples of few editors include Windows Notepad, OS Edit command, Brief, Epsilon, EMACS, and vim or vi</div>
            <div class="panel-footer">more info at <a target='_blank' href="https://www.tutorialspoint.com/go/go_environment.htm">tutorialspoint.com</a></div>
          </div>
      </div>
    </div><!--Panel row 2 ends-->
  </div><!--column2 end-->

  <div class="col-md-3"><!--column3 start-->
          <form method="POST">{% csrf_token %}
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <!-- <div class="checkbox">
              <label><input type="checkbox" name="remember"> Remember me</label>
            </div> -->
            <button type="submit" class="btn btn-default">SignUp</button>
          </form>
          <hr>
           <img src="http://lerablog.org/wp-content/uploads/2013/12/Gophers.jpg" class="img-rounded" alt="Gophers" width="100%" height="100%">
           <hr>
           <span style="color:gray;font-size: 20px">References</span><br>
           <a href="https://www.gobyexample.com" target="_blank">gobyexample.com</a><br>
           <a href="https://www.tutorialspoint.com/go" target="_blank">tutorialspoint.com</a><br>
           <a href="https://www.dotnetperls.com/go" target="_blank">dotnetperls.com</a><br>
          
           <a href="https://tour.golang.org/welcome/1" target="_blank">Take a tour on Golang</a><br>
           <a href="https://talks.golang.org/2013/bestpractices.slide#1" target="_blank">Best practices on golang(slides)</a>
  </div><!--column3 end-->
  </div><!--row1 end-->
 <ul class="pager text-center">
    <li><a href="#">Next</a></li>
  </ul>
</div><!--container1 end-->
<!--body end-->
</body>
</html>