{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2 class="text-center">Login</h2>
      <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form class="form" method="POST" action="">{% csrf_token %}<!--In case of action included-->
            {{ form|crispy }}  <!--{{ form.as_p }}-->
            <button type="submit" class="btn btn-default">Login</button>
            <button type="reset" class="btn btn-default">Reset</button>
        </form>

      </div>  
      </div>
    </div>
</body>
</html>
