
<!DOCTYPE html>

<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    .errorlist{
      color:red;
      }
  </style>
</head>

<body>

<div class="container">
    <div class="row"> 
      <div class="col-sm-12 text-center">
      <h3 style="color:green">Signup for HyGo</h3>
      <hr>
      <br>
      </div>  
    </div>

    <div class="row">
    <div class="col-sm-offset-4 col-sm-12">
    <form method="POST" action="#">{% csrf_token %}
        <div class="form-group">
          <label class="control-label col-sm-2" for="{{ form.username.id_username }}">Username</label>
          {{ form.username.errors }}
           {{ form.username }}
          <!-- <input type="email" class="form-control" id="email" placeholder="Enter email"> -->
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="{{ form.email.id_email }}">Email</label>
          <!-- <input type="password" class="form-control" id="pwd" placeholder="Enter password"> -->
          {{ form.email.errors }}
          {{ form.email }}
        </div>
   <!--  <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div> -->
          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-12">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
    
      </form>
      </div>
      </div>
  </div>
<!--     <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div> -->
      
     <!--  <div class="col-sm-offset-4 col-sm-10">
        <form class="form" method="POST" action="">{% csrf_token %}In case of action included
            {{ form.as_table }}  
            <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
      </div>   -->


<!-- <div class="fieldWrapper">
    {{ form.sender.errors }}
    <label for="{{ form.sender.id_for_label }}">Your email address:</label>
    {{ form.sender }}
</div>
<div class="fieldWrapper">
    {{ form.cc_myself.errors }}
    <label for="{{ form.cc_myself.id_for_label }}">CC yourself?</label>
    {{ form.cc_myself }}
</div> -->

</body>
</html>
